@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=League+Spartan:wght@400;500;700&family=Oswald:wght@300&family=Public+Sans:wght@300&family=Roboto:wght@100&family=Work+Sans:wght@400;500;700&display=swap');
:root{
    size: 62.5%;
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    margin: 0;
}
.body{
    background-color: var(--body-bg-color);
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
}
header{
    margin-bottom: 7.2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    cursor: text;
}
main{
    margin-left: 2.6rem;
}
main h2{
    font-family: 'Work Sans', sans-serif;
    color: var(--title-color);
}
main p{
    font-family: 'Spartan', sans-serif;
    color: var(--text-color);
}
form{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    color: var(--form-color);
    font-family: 'Spartan', sans-serif;
    align-items: flex-start;
}
label{
    margin-bottom: 1.7rem;
}
input{
    width: 55.0rem;
    height: 2.8rem;
    border: none;
    margin-bottom: 4rem;
    outline: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 1rem;
}
a{
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    background-color: var(--body-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;
    color: var(--bg-button-color);
    cursor: pointer;
}
.button{
    display: flex;
    cursor: pointer;
}
button{
    background-color: #fff;
    border: none;
    width: fit-content;
    padding: 0;
    height: 1rem;
    cursor: pointer;
}
img{
    position: relative;
    height: 49.5rem;
    left: 30rem;
}
::placeholder{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
